<div class="card-group">
    <div class="card">
      <img src="images\cse.jpg" class="card-img-top" alt="..." width="200px" height="300px">
      <div class="card-body">
        <h5 class="card-title">CSE</h5>
        <p class="card-text">Computer Science Engineering (CSE) drives innovation through software and algorithms</p>
      </div>
    </div>
    <div class="card">
      <img src="images\ece.jpg" class="card-img-top" alt="..." width="200px" height="300px">
      <div class="card-body">
        <h5 class="card-title">ECE</h5>
        <p class="card-text">Electronics and Communication Engineering (ECE) pioneers advancements in technology and communication</p>
      </div>
    </div>
    <div class="card">
      <img src="images\civil.jpg" class="card-img-top" alt="..." width="200px" height="300px">
      <div class="card-body">
        <h5 class="card-title">CIVIL</h5>
        <p class="card-text">Civil Engineering builds and maintains the infrastructure that supports society.</p>
      </div>
    </div>
  </div>